@using eStore_web.EF_Models;
@using Microsoft.AspNetCore.Mvc;
@using eStore_web.Common;
@using Microsoft.AspNetCore.Http;
@using Microsoft.EntityFrameworkCore;

@{ 
    LoginInfo Log = Context.GetLogiraniKorisnik();
    Kupac Kup=null;
    Developer Dev=null;
    Administrator Admin=null;
    if (Log != null)
    {
        if (Log.TipKorisnika == 1)
        {
            Kup = Context.GetLogiraniKorisnikAll<Kupac>();
        }
        if (Log.TipKorisnika == 2)
        {
            Dev = Context.GetLogiraniKorisnikAll<Developer>();
        }
        if (Log.TipKorisnika == 3)
        {
            Admin = Context.GetLogiraniKorisnikAll<Administrator>();
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eStore_web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/mLayoutPage.css" !important>
    <link rel="stylesheet" type="text/css" href="~/css/Loading.css" !important>
    <link rel="stylesheet" type="text/css" href="~/css/Search.css" !important>
    <script src="~/js/QuickSearchjs.js"></script>


</head>
<body>
    
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">eStore</a>
                </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Kupac" asp-action="Index">Store</a></li>
                    <li>
                        @using (Html.BeginForm("Index", "Kupac", FormMethod.Post))
                        {
                            <div id="searchWrap">
                                <input type="text" name="pretraga" id="search" placeholder="Search.." autocomplete="off">
                                <button type="submit" id="searchButton"><span class="glyphicon glyphicon-search"></span></button>
                                <div class="SearchContent">
                                </div>
                            </div>
                        }

                    </li>    
                
                
                
                
                
               
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if (Log == null)
                    {
                        <li><a asp-area="" asp-controller="Autentifikacija" asp-action="Login">LogIn</a></li>
                        <li><a asp-area="" asp-controller="Autentifikacija" asp-action="Register">Register</a></li>
                    }
                    else
                    {
                        if (Log.TipKorisnika == 1)
                        {

                            <li class="">
                                <div class="mUser">

                                   

                                    @if (Kup.Osoba.OsobaImage != null)
                                    {
                                        var base64 = Convert.ToBase64String(Kup.Osoba.OsobaImage.Image);
                                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                                        <img src="@imgsrc">
                                    }
                                    else
                                    {
                                        <img src="~/images/profileDemo.png">
                                    }


                                    @Html.ActionLink(Log.AccountName, "Index", "Profile", new { KupacID = Kup.KupacID })
                                    @Html.ActionLink(Math.Round(Kup.Wallet.balance, 2).ToString() + " KM", "WalletHistory", "Profile", new { KupacID = Kup.KupacID })




                                    <button class=" dropdown-toggle mLayoutDropDownButton" type="button" data-toggle="dropdown">

                                        <span class="caret" style="text-align:center;"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">profil</li>
                                        <li>@Html.ActionLink("Moj profil", "Index", "Profile", new { KupacID = Kup.KupacID })</li>
                                        <li>@Html.ActionLink("Uredi profil", "EditProfile", "Profile", new { KupacID = Kup.KupacID })</li>
                                        <li>@Html.ActionLink("Wallet", "WalletHistory", "Profile", new { KupacID = Kup.KupacID })</li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">sesija</li>
                                        <li><a href="#" disabled>Aktivne sesije</a></li>
                                        <li class=""><a asp-area="" asp-controller="Autentifikacija" asp-action="LogOut">LogOut</a></li>
                                    </ul>



                                </div>
                            </li>

                        }
                        if (Log.TipKorisnika == 2)
                        {

                            <li class="">
                                <div class="mUser">
                                    <img src="~/images/profileDemo.png" />
                                    
                                    @Html.ActionLink(Log.AccountName, "Index", "Kupac")


                                </div>
                            </li>

                        }
                        if (Log.TipKorisnika == 3)
                        {

                            <li class="">
                                <div class="mUser">
                                    <img src="~/images/profileDemo.png" />

                                    @Html.ActionLink(Log.AccountName, "Index", "Kupac")


                                </div>
                            </li>

                        }

                        
                    }

                </ul>
                
            
            
            
            
            
            </div>
               
        </div>
    </nav>
            
            




            <partial name="_CookieConsentPartial" />

            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; 2018 - eStore_web</p>
                </footer>
            </div>

            <environment include="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            <environment exclude="Development">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery"
                        crossorigin="anonymous"
                        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                        crossorigin="anonymous"
                        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>

            @RenderSection("Scripts", required: false)
</body>
</html>
